html, body {
    color: white;
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Limite a largura máxima conforme necessário */
}

.video-caption{
    margin-top: 20px;
}



